<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style-auth.css">
  <title>Factorial</title>
</head>

<body>
  <div class="center-center wrapper">
    <div class="google-wrapper">
      <div class="header">
        <svg xmlns="https://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 48 48" aria-hidden="true" class="L5wZDc">
          <path fill="#4285F4"
            d="M45.12 24.5c0-1.56-.14-3.06-.4-4.5H24v8.51h11.84c-.51 2.75-2.06 5.08-4.39 6.64v5.52h7.11c4.16-3.83 6.56-9.47 6.56-16.17z">
          </path>
          <path fill="#34A853"
            d="M24 46c5.94 0 10.92-1.97 14.56-5.33l-7.11-5.52c-1.97 1.32-4.49 2.1-7.45 2.1-5.73 0-10.58-3.87-12.31-9.07H4.34v5.7C7.96 41.07 15.4 46 24 46z">
          </path>
          <path fill="#FBBC05"
            d="M11.69 28.18C11.25 26.86 11 25.45 11 24s.25-2.86.69-4.18v-5.7H4.34C2.85 17.09 2 20.45 2 24c0 3.55.85 6.91 2.34 9.88l7.35-5.7z">
          </path>
          <path fill="#EA4335"
            d="M24 10.75c3.23 0 6.13 1.11 8.41 3.29l6.31-6.31C34.91 4.18 29.93 2 24 2 15.4 2 7.96 6.93 4.34 14.12l7.35 5.7c1.73-5.2 6.58-9.07 12.31-9.07z">
          </path>
          <path fill="none" d="M2 2h44v44H2z"></path>
        </svg>
        <div class="title">Iniciar sesión con Google</div>
      </div>
      <div class="center-center">
        <div class="section-title">
          <h1>Iniciar sesión</h1>
          <div>
            <span>Ir a <button class="btn-link" type="button">amazoncognito.com</button></span>
            </div>
            </div>
      </div>
      <div class="content" role="presentation">
        <div class="Wxwduf Us7fWe JhUD8d" role="presentation">
          <div class="WEQkZc">
            <div class="bCAAsb">
              <form method="post" novalidate=""><span>
                  <section class="aTzEhb ">
                    <header class="IdEPtc" aria-hidden="true"></header>
                    <div class="CxRgyd">
                      <div jsslot="">
                        <div role="presentation">
                          <div class="rFrNMe N3Hzgf jjwyfe QBQrY zKHdkd sdJrJc Tyc9J">
                            <div class="aCsJod oJeWuf">
                              <div class="aXBtI Wic03c">
                                <div class="Xb9hP"><input type="email" class="whsOnd zHQkBf" autocomplete="username"
                                    spellcheck="false" tabindex="0" aria-label="Correo electrónico o teléfono"
                                    name="identifier" autocapitalize="none" id="identifierId" data-initial-value="">
                                  <div class="AxOyFc snByac" aria-hidden="true">Correo electrónico o
                                    teléfono</div>
                                </div>
                                <div class="i9lrp mIZh1c"></div>
                                <div class="OabDMe cXrdqd Y2Zypf"></div>
                              </div>
                            </div>
                            <div class="LXRPh">
                              <div class="ovnfwe Is7Fhb"></div>
                              <div class="dEOOab RxsGPe" aria-atomic="true" aria-live="assertive"></div>
                            </div>
                          </div>
                        </div>
                        <div class="PrDSKc"><button type="button">¿Has olvidado tu correo
                            electrónico?</button></div><input type="password" name="hiddenPassword" class="F29zPe"
                          tabindex="-1" aria-hidden="true" spellcheck="false">
                      </div>
                    </div>
                  </section>
                </span></form>
            </div><span>
              <div class="vwtvsf">
                <div class="PrDSKc">Para continuar, Google compartirá tu nombre, tu dirección de correo electrónico, tu
                  preferencia de idioma y tu foto de perfil con amazoncognito.com. Antes de usar esta aplicación, puedes
                  leer la <a href="https://factorialhr.com/privacy" target="_blank">política de privacidad</a> y los <a
                    href="https://factorialhr.com/legal" target="_blank">términos del servicio</a> de amazoncognito.com.
                </div>
              </div>
            </span>
          </div>
          <div class="btn-section">
            <button class="btn-link" type="button">
              Siguiente
            </button>
            <button class="btn-primary" type="button">
              Crear cuenta
            </button>
          </div>
        </div>
        </div>
        </div>
  </div>
</body>

</html>