<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="google-wrapper">
    <div class="DRS7Fe bxPAYd k6Zj8d">
      <div>
        <div class="jXeDnc">
          <h1 class="ahT6S"><span>Iniciar
              sesión</span></h1>
          <div class="Y4dIwd"><span>Ir a <button type="button">amazoncognito.com</button></span></div>
        </div>
      </div>
      <div class="pwWryf bxPAYd" role="presentation">
        <divclass="Wxwduf Us7fWe JhUD8d" role="presentation">
          <div class="WEQkZc">
            <div class="bCAAsb">
              <form method="post" novalidate=""><span>
                  <section class="aTzEhb ">
                    <header class="IdEPtc" aria-hidden="true"></header>
                    <div class="CxRgyd">
                      <div jsslot="">
                        <div role="presentation">
                          <div class="rFrNMe N3Hzgf jjwyfe QBQrY zKHdkd sdJrJc Tyc9J">
                            <div class="aCsJod oJeWuf">
                              <div class="aXBtI Wic03c">
                                <div class="Xb9hP"><input type="email" class="whsOnd zHQkBf" autocomplete="username"
                                    spellcheck="false" tabindex="0" aria-label="Correo electrónico o teléfono"
                                    name="identifier" autocapitalize="none" id="identifierId" data-initial-value="">
                                  <div class="AxOyFc snByac" aria-hidden="true">Correo electrónico o
                                    teléfono</div>
                                </div>
                                <div class="i9lrp mIZh1c"></div>
                                <div class="OabDMe cXrdqd Y2Zypf"></div>
                              </div>
                            </div>
                            <div class="LXRPh">
                              <div class="ovnfwe Is7Fhb"></div>
                              <div class="dEOOab RxsGPe" aria-atomic="true" aria-live="assertive"></div>
                            </div>
                          </div>
                        </div>
                        <div class="PrDSKc" aria-live="assertive"></div>
                        <div class="PrDSKc"><button type="button">¿Has olvidado tu correo
                            electrónico?</button></div><input type="password" name="hiddenPassword" class="F29zPe"
                          tabindex="-1" aria-hidden="true" spellcheck="false">
                      </div>
                    </div>
                  </section>
                </span></form>
            </div><span>
              <div class="vwtvsf">
                <div class="PrDSKc">Para continuar, Google compartirá tu nombre, tu dirección de correo electrónico, tu
                  preferencia de idioma y tu foto de perfil con amazoncognito.com. Antes de usar esta aplicación, puedes
                  leer la <a href="https://factorialhr.com/privacy" target="_blank">política de privacidad</a> y los <a
                    href="https://factorialhr.com/legal" target="_blank">términos del servicio</a> de amazoncognito.com.
                </div>
              </div>
            </span>
          </div>
          <div class="zQJV3">
            <div class="dG5hZc">
              <div class="qhFLie">
                <div class="FliLIb DL0QTb" id="identifierNext">
                  <div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb"><button
                      class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-k8QpJ VfPpkd-LgbsSe-OWXEXe-dgl2Hf nCP5yc AjY5Oe DuMIQc LQeN7 qIypjc TrZEUc lw1w4b"
                      type="button">
                      <div class="VfPpkd-Jh9lGc"></div>
                      <div class="VfPpkd-J1Ukfc-LhBDec"></div>
                      <div class="VfPpkd-RLmnJb"></div><span class="VfPpkd-vQzf8d">Siguiente</span>
                    </button></div>
                </div>
              </div>
              <div class="daaWTb">
                <div class="OIPlvf">
                  <div class="FliLIb t29vte G3hhxb">
                    <div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb"><button
                        class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-dgl2Hf ksBjEc lKxP2d LQeN7 uRo0Xe TrZEUc lw1w4b"
                        type="button">
                        <div class="VfPpkd-Jh9lGc"></div>
                        <div class="VfPpkd-J1Ukfc-LhBDec"></div>
                        <div class="VfPpkd-RLmnJb"></div><span class="VfPpkd-vQzf8d">Crear cuenta</span>
                      </button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>